<div class= "body">
  <h1 style="border: 1px yellow solid" >
    <%= @appoitment.subject %>
  </h1>
  <p>
    <%= @appoitment.description %>
  </p>
  <p align="right">Tienda: <%= Appoitment::STORES[0][0] %></p>
</div>
